<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <h1>My new header</h1>
        <div>menu1 | menu2 | menu3</div>
        @RenderBody()
    </div>
</body>
</html>
